.parent {
  display: flex;
  flex-direction: column;
  /* min-height: calc(100vh-61px);
  min-height: -moz-calc(100vh-61px);
  min-height: -webkit-calc(100vh-61px); */
  min-height: calc(100vh - 61px);
}
